<div class="container">
  <div class="row">

    <h1>Log In</h1>
    <br>
    <%= form_tag sessions_path do %>
    <div class="form-group form-group-lg">
      <div class="col-xs-6">
        <div class="field">
          <h4><%= label_tag :email %></h4><br>
            <%= text_field_tag :email, '', class: "form-control" %>
        </div>
        <div class="field">
          <h4><%= label_tag :password %></h4><br>
            <%= password_field_tag :password, '', class: "form-control" %>
        </div>
        <div class="actions">
          <%= submit_tag "Log In", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>