<div class="container">
  <div class="row">

    <% provide(:title, 'Sign up') %>
    <h1>Sign up</h1>

    <div class="col-xs-6">
      <%= simple_form_for (@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <h4><%= f.input :name, label: 'Name', input_html: { class: 'form-control' } %></h4>

        <h4><%= f.input :email, label: 'Email', input_html: { class: 'form-control' } %></h4>

        <h4><%= f.input :password, label: 'Password', input_html: { class: 'form-control' } %></h4>

        <h4><%= f.input :password_confirmation, label: 'Confirm password', input_html: { class: 'form-control' } %></h4>
        
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>